@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "exo2";
  src: url("/font/Exo2-VariableFont_wght.ttf");
}

:root {
  --black: #1a1a1d;
  --violet: #f39b0e;
  --white: #fff;
  --gray: #EEEFF1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: exo2;
  background-color: var(--white);
}
